
.nav_Wrapper
  .headerLogo
    svg.headerLogoTitle(width='620', height='100')
      text(
        x='100', 
        y='60', 
        font-size='60',
        textLength='130',
        font-family="'Leckerli One', cursive") Tyler
    svg.headerLogoTag(width='620', height='100')
      text(
        x='163', 
        y='80', 
        font-size='20',
        textLength='180',
        font-family="'Osefin Slab', serif'") Web Development


  nav
    ul
      li.navLink.navAbout
        a(href="#") About
      li.navLink.navProjects
        a(href="#") Projects
      li.navLink.navSkills
        a(href="#") Skills
      li.navLink.navResume
        a(href="#") Contact